MSSQL_SERVER=localhost,1433
MSSQL_DATABASE=master
MSSQL_USER=sa
MSSQL_PASSWORD=your_password_here
# Usa el nombre EXACTO de un driver instalado. En Windows: python -c "import pyodbc; print(pyodbc.drivers())"
# Recomendado: ODBC Driver 18 for SQL Server (https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server)
MSSQL_DRIVER=ODBC Driver 18 for SQL Server
MSSQL_TRUST_SERVER_CERTIFICATE=true
MSSQL_READONLY=true
MSSQL_QUERY_ROW_LIMIT=100
